@{
    ViewBag.Title = "RoleManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SmartStock.Core.Models
@model List<RoleInfo>

<section class="content-header">
    <h1>
        角色
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gear"></i>管理</a></li>
        <li class="active">角色</li>
    </ol>
</section>

<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-group"></i><h3 class="box-title">角色</h3>
                </div>
                <div class="box-body admin-content">
                    <table id="RoleDataTbl" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>角色名称</th>
                                <th>角色描述</th>
                                <th>动作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model)
                            {
                                <tr data-roleid="@role.ID">
                                    <td>@role.RoleCode</td>
                                    <td>@role.Description</td>
                                    <td>
                                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="编辑" class="btn btn-xs btn-default editAction"><i class="fa fa-edit"></i> </a>
                                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="删除" class="btn btn-xs btn-default deleteAction"><i class="fa fa-trash-o"></i> </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a href="javascript:void(0)" class="btn btn-primary pull-right role-add-btn"><i class="fa fa-plus"></i> 创建</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row addRoleDiv">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">创建角色</h3>
                </div>
                <div class="box-body">
                    <label class="col-sm-1 redAsteriskBefore">角色名称</label>
                    <input type="text" class="col-sm-11 role-name" />
                </div>
                <div class="box-body">
                    <label class="col-sm-1 redAsteriskBefore">角色描述</label>
                    <textarea maxlength="1000" class="col-sm-11 role-description"></textarea>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary pull-right role-btn role-save-btn"> 保存</button>
                    <button type="button" class="btn btn-primary pull-right role-btn role-cancel-btn"> 撤销</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/role/rolemanager.js"></script>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            initCommonDataTable('#RoleDataTbl');
            bindRoleManagerEvent();
        });

    </script>
}