.user-wechart-photo {
	width: 100%;
	max-width: 25px;
	height: auto;
}

.login-footer {
    color:#FFF;
    text-align:center;
}

.no-padding-lr {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

label.redAsteriskAfter:after  {
  content: '*';
  color: red;
}

label.redAsteriskBefore:before  {
  content: '*';
  color: red;
  margin-right:5px;
}

.label-normal-font {
    font-weight: 100 !important;
}

.addRoleDiv {
    display: none;
}

.addStockDiv {
    display: none;
}

.addClientDiv {
    display: none;
}

.template-btn {
    margin-right: 5px;
}

.note-area {
    max-width: 280px!important;
}

.btn-logout {
    margin: 8px;
}

.trading-order-upload {
    display: inline!important;
}

.file-remove-action {
    margin-right: 5px;
}

.oldvalue {
    font-weight: normal;
    font-weight: normal!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:18px;  
    margin-bottom:0;
    word-wrap: break-word;
}

.newvalue {
    display:none;
    width: auto;
    max-width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:20px;
    font-size: 14px;
    line-height: 13px;
    border-width: 1px;
}

.splitOrderDiv {
    display: none;
}

.mergeOrderDiv {
    display: none;
}

.splited-order {
    color: red;
}