@using SmartStock.Core.Models
@using SmartStock.Core.Enums

@{
    LoginUser loginUser = (LoginUser)Session["CurrentLoginUser"];
    string displayName = loginUser.UserName;

    string currentPageUrl = Request.Url.AbsoluteUri;
    string accountSettingTreeClass = (currentPageUrl.Contains("PersonalInformation") || currentPageUrl.Contains("ChangePassword")) ? "active" : "";
    string managerTreeClass = (currentPageUrl.Contains("TradingStock") || currentPageUrl.Contains("TradingClient") || currentPageUrl.Contains("UploadTradingOrder")) ? "active" : "";
    string dashboardTreeClass = (currentPageUrl.Contains("Dashboard")) ? "active" : "";
    string reportTreeClass = (currentPageUrl.Contains("Report")) ? "active" : "";
    string balanceTreeClass = (currentPageUrl.Contains("Balance")) ? "active" : "";
}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/images/Lighter.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@displayName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="@accountSettingTreeClass treeview">
                <a href="/AccountSetting/PersonalInformation">
                    <i class="fa fa-user"></i><span>设置</span><i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    @if (currentPageUrl.Contains("PersonalInformation"))
                    {
                        <li class="active"><a href="/AccountSetting/PersonalInformation"><i class="fa fa-circle-o"></i> 个人信息</a></li>
                    }
                    else
                    {
                        <li><a href="/AccountSetting/PersonalInformation"><i class="fa fa-circle-o"></i> 个人信息</a></li>
                    }
                    @if (currentPageUrl.Contains("ChangePassword"))
                    {
                        <li class="active"><a href="/AccountSetting/ChangePassword"><i class="fa fa-circle-o"></i> 密码修改</a></li>
                    }
                    else
                    {
                        <li><a href="/AccountSetting/ChangePassword"><i class="fa fa-circle-o"></i> 密码修改</a></li>
                    }
                </ul>
            </li>
            @if (loginUser.RoleType != RoleType.Operator)
            {
                <li class="@managerTreeClass treeview">
                    <a href="/stock/TradingStock">
                        <i class="fa fa-gear"></i><span>委托</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (currentPageUrl.Contains("TradingClient"))
                        {
                            <li class="active"><a href="/stock/TradingClient"><i class="fa fa-circle-o"></i> 委托账号</a></li>
                        }
                        else
                        {
                            <li><a href="/stock/TradingClient"><i class="fa fa-circle-o"></i> 委托账号</a></li>
                        }
                        @if (currentPageUrl.Contains("TradingStock"))
                        {
                            <li class="active"><a href="/stock/TradingStock"><i class="fa fa-circle-o"></i> 委托股票</a></li>
                        }
                        else
                        {
                            <li><a href="/stock/TradingStock"><i class="fa fa-circle-o"></i> 委托股票</a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="@managerTreeClass treeview">
                    <a href="/stock/UploadTradingOrder">
                        <i class="fa fa-gear"></i><span>交易</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (currentPageUrl.Contains("UploadTradingOrder"))
                        {
                            <li class="active"><a href="/stock/UploadTradingOrder"><i class="fa fa-circle-o"></i> 数据上传</a></li>
                        }
                        else
                        {
                            <li><a href="/stock/UploadTradingOrder"><i class="fa fa-circle-o"></i> 数据上传</a></li>
                        }
                    </ul>
                </li>
            }

            <li class="@dashboardTreeClass treeview">
                <a href="/Dashboard/index">
                    <i class="fa fa-line-chart"></i><span>统计</span><i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    
                    @if (loginUser.RoleType == RoleType.Manager)
                    {
                        if (currentPageUrl.Contains("TransferOrderDashboard"))
                        {
                            <li><a href="/Dashboard/index"><i class="fa fa-circle-o"></i> 我的盈利</a></li>
                            <li class="active"><a href="/Dashboard/TransferOrderDashboard"><i class="fa fa-circle-o"></i> 转账记录</a></li>
                            <li><a href="/Dashboard/ManagerDashboardDetail"><i class="fa fa-circle-o"></i> 交易明细</a></li>
                        }
                        else if (currentPageUrl.Contains("ManagerDashboardDetail"))
                        {
                            <li><a href="/Dashboard/index"><i class="fa fa-circle-o"></i> 我的盈利</a></li>
                            <li><a href="/Dashboard/TransferOrderDashboard"><i class="fa fa-circle-o"></i> 转账记录</a></li>
                            <li class="active"><a href="/Dashboard/ManagerDashboardDetail"><i class="fa fa-circle-o"></i> 交易明细</a></li>
                        }
                        else if (currentPageUrl.Contains("Dashboard"))
                        {
                            <li class="active"><a href="/Dashboard/index"><i class="fa fa-circle-o"></i> 我的盈利</a></li>
                            <li><a href="/Dashboard/TransferOrderDashboard"><i class="fa fa-circle-o"></i> 转账记录</a></li>
                            <li><a href="/Dashboard/ManagerDashboardDetail"><i class="fa fa-circle-o"></i> 交易明细</a></li>
                        }
                        else
                        {
                            <li><a href="/Dashboard/index"><i class="fa fa-circle-o"></i> 我的盈利</a></li>
                            <li><a href="/Dashboard/TransferOrderDashboard"><i class="fa fa-circle-o"></i> 转账记录</a></li>
                            <li><a href="/Dashboard/ManagerDashboardDetail"><i class="fa fa-circle-o"></i> 交易明细</a></li>
                        }
                    }
                    else if (loginUser.RoleType == RoleType.Client)
                    {
                        if (currentPageUrl.Contains("TransferOrderDashboardForClient"))
                        {
                            <li><a href="/Dashboard/index"><i class="fa fa-circle-o"></i> 我的盈利</a></li>
                            <li class="active"><a href="/Dashboard/TransferOrderDashboardForClient"><i class="fa fa-circle-o"></i> 转账记录</a></li>
                        }
                        else if (currentPageUrl.Contains("Dashboard"))
                        {
                            <li class="active"><a href="/Dashboard/index"><i class="fa fa-circle-o"></i> 我的盈利</a></li>
                            <li><a href="/Dashboard/TransferOrderDashboardForClient"><i class="fa fa-circle-o"></i> 转账记录</a></li>
                        }
                        else
                        {
                            <li><a href="/Dashboard/index"><i class="fa fa-circle-o"></i> 我的盈利</a></li>
                            <li><a href="/Dashboard/TransferOrderDashboardForClient"><i class="fa fa-circle-o"></i> 转账记录</a></li>
                        }
                    }
                    else
                    {
                        if (currentPageUrl.Contains("Dashboard"))
                        {
                            <li class="active"><a href="/Dashboard/index"><i class="fa fa-circle-o"></i> 我的盈利</a></li>
                        }
                        else
                        {
                            <li><a href="/Dashboard/index"><i class="fa fa-circle-o"></i> 我的盈利</a></li>
                        }
                    }
                </ul>
            </li>

            @if (loginUser.RoleType == RoleType.Manager)
            {
                <li class="@balanceTreeClass treeview">
                    <a href="/Balance/SplitTradingOrder">
                        <i class="fa fa-adjust"></i><span>拆合</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (currentPageUrl.Contains("SplitTradingOrder"))
                        {
                            <li class="active"><a href="/Balance/SplitTradingOrder"><i class="fa fa-circle-o"></i> 拆分记录</a></li>
                            <li><a href="/Balance/MergeTradingOrder"><i class="fa fa-circle-o"></i> 已拆记录</a></li>
                        }
                        else if (currentPageUrl.Contains("MergeTradingOrder"))
                        {
                            <li><a href="/Balance/SplitTradingOrder"><i class="fa fa-circle-o"></i> 拆分记录</a></li>
                            <li class="active"><a href="/Balance/MergeTradingOrder"><i class="fa fa-circle-o"></i> 已拆记录</a></li>
                        }
                        else
                        {
                            <li><a href="/Balance/SplitTradingOrder"><i class="fa fa-circle-o"></i> 拆分记录</a></li>
                            <li><a href="/Balance/MergeTradingOrder"><i class="fa fa-circle-o"></i> 已拆记录</a></li>
                        }
                    </ul>
                </li>

                <li class="@reportTreeClass treeview">
                    <a href="/Report/Index">
                        <i class="fa fa-file-o"></i><span>报表</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (currentPageUrl.Contains("Report"))
                        {
                            <li class="active"><a href="/Report/Index"><i class="fa fa-circle-o"></i> 交易记录</a></li>
                            <li><a href="/Report/Index"><i class="fa fa-circle-o"></i> 员工操作</a></li>
                        }
                        else
                        {
                            <li><a href="/Report/Index"><i class="fa fa-circle-o"></i> 交易记录</a></li>
                            <li class="active"><a href="/Report/Index"><i class="fa fa-circle-o"></i> 员工操作</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </section>
</aside>

