@{
    ViewBag.Title = "ManagerDetailViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SmartStock.Core.Models
@model ManagerViewerDetailSummary

<section class="content-header">
    <h1>
        交易明细
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>统计</a></li>
        <li class="active">交易明细</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- LINE CHART -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">交易明细</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body admin-content">
                    <!-- Date and time range -->
                    <label class="col-sm-1 control-label">开始日期</label>
                    <input id=StartDate class="col-sm-2" />
                    <label class="col-sm-1 control-label">结束日期</label>
                    <input id="EndDate" class="col-sm-2" />
                    <label class="col-sm-1 control-label">用户名称</label>
                    @Html.DropDownList("ClientUserId", Model.Users as List<SelectListItem>, "--所有客户--", new { @class = "col-sm-2 form-control" })
                    <label class="col-sm-1 control-label"></label>
                    <button class="btn btn-default" id="reloadBtn">查询</button>
                </div>
                <div class="box-body admin-content dashboard-partial">
                    @if (Model.TradingOrders != null && Model.TradingOrders.Count > 0)
                    {
                        @Html.Partial("_ManagerDashboardDetailPartial", Model)
                    }
                    else
                    {
                        <div class="col-md-12">
                            <!-- DONUT CHART -->
                            <div class="box">
                                <div class="box-header with-border">
                                    <i class="fa fa-users"></i> <h3 class="box-title">没有相关数据</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    请重新选择筛选时间
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/dashboard/managerdetail.js"></script>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#StartDate").datepicker("setDate", new Date(new Date().setDate(new Date().getDate() - 1)));
            $("#EndDate").datepicker("setDate", new Date());
            initTradingOrderDetailDataTable('#DashboardDataTbl');
            bindDashboardPageEvent();
        });

    </script>
}