
@{
    ViewBag.Title = "UploadTradingOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        数据上传
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gear"></i>交易</a></li>
        <li class="active">数据上传</li>
    </ol>
</section>

<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-upload"></i><h3 class="box-title">数据上传</h3>
                </div>
                <div class="box-body admin-content">
                    <div class="form-group">
                        <label for="dataInputFile">通达信数据文件选择</label>
                        <div>
                            <input type="file" id="dataInputFile" class="trading-order-upload">
                            <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="删除" class="btn btn-xs btn-default file-remove-action"><i class="fa fa-remove"></i> </a>
                            <a href="javascript:void(0)" class="btn btn-primary data-upload-action"><i class="fa fa-upload"></i> 上传</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/stock/ordermanager.js"></script>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            bindUploadTradingOrderEvent();
        });

    </script>
}

